* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*barra de navegación*/

.logo img {
    width: 200px;
    padding-left: 25px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 30px #daedfd;
}

.lista-nav ul {
    display: flex;
    
}

.lista-nav ul li {
    margin-right: 30px;
}

ul li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #0C356A;
}

li a:hover{
    color: #40F8FF;
}

/*main*/

.contenedor-principal {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.imagen-contenedor-principal img {
    width: 600px;
    padding: 30px 0 50px 30px;
}

.texto-contenedor-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-contenedor-principal h1 {
    padding-bottom: 30px;
    font-size: 50px;
    color: #0C356A;
}

.texto-contenedor-principal h1:hover{
    color: #40F8FF;
}

/*Secciones de habilidades*/

.contenedor {
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 30px #daedfd;
}

.imagen-contenedor img {
    height: 300px;
}

h2 {
    font-size: 35px;
    color: #0C356A;
}

.descripcion-contenedor ul {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.opciones li {
    margin-top: 5px;
}